body {
  font-family: sans-serif;
  background-color: red;
  padding:0;
  margin:0;
}

#tableau {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

.ardoise {
  margin:0;
  text-align:center;
  font-size: 10rem;
  width: 100%;
  position:absolute;
  left:5%;
}

.operation {
  display:inline-block;
}

.resultat {
  color:red;
  display:inline-block;
}

.score {
  display: inline-block;
}
