body {
  font-family: sans-serif
}

.ardoise {
  margin:0;
  text-align:center;
  font-size: 10rem;
  width: 100%;
  position:absolute;
  left:5%;
}

.operation {
  display:inline-block;
}

.resultat {
  color:red;
  display:inline-block;
}

.repetition {
  font-size: 3rem;
  display: inline-block;
}
