body, html {
  background-color: red;
  font-family: sans-serif;
  padding:0;
  margin:0;
}

h1 {
  margin:0;
}

#tableau {
  height:100%;
  height:100vh;
  width:100%;
  padding:0;
  margin:0;
}

.ardoise {
  margin:0;
  padding:0 1rem;
  border-radius: 0.1em;
  text-align:center;
  font-size: 10rem;
  position:absolute;
  left:25%;
  background-color:#FFFFFF;
}

.operation {
  display:inline-block;
}

.resultat {
  color:red;
  display:inline-block;
  padding-left: 1rem;
}

.score {
  display: inline-block;
}
